<div class="container my-4 ">
  <app-upload-image></app-upload-image>
  <div class="row">
    <!-- <div class="picture-1 col">
      <img src="" alt="">
    </div> -->

      <div class="card picture-card-1 m-4 col-3" (click)="booking()">
        <a  class="text-color" >Schedule an appointment</a>
      </div>
      <div class="card middle-card-1 m-4 col-3 picture-2" (click)="medicalon()">
        <a  class="text-color"  >Medical Articles</a>
      </div>
      <div class="card   last-card-1 picture-card-3 m-4 col-3" (click)="finddoctor()">
        <a   class="text-color" >Seacrh for a doctor</a>
      </div>


  </div>
  <div class="row">

      <div class="card fisrt-card-1  picture-card-4 m-4 col-3"(click)="jobon()" >
        <a  class="text-color">Join our team</a>
      </div>
      <div class="card middle-card-2 picture-card-5 m-4 col-3"(click)="jobon()" >
        <a   class="text-color">MEDICAL DEPARTMENTS</a>
      </div>

      <div class="card last-card-2 picture-card-6 m-4 col-3" (click)="finddoctor()">
        <a  class="text-color">COVID-19</a>
      </div>
    <!-- <div class="picture-2 col">
      <img src="" alt="">
    </div> -->

  </div>


  <!-- <div class="cardd m-4">
    <a  routerLink=""></a>
  </div>
  <div class="cardd m-4">
    <a  routerLink="">Articles</a>
  </div>
  <div class="cardd m-4">
    <a  routerLink="">Articles</a>
  </div>
  <div class="cardd m-4">
    <a  routerLink="">Articles</a>
  </div> -->
</div>
