*{
  font-size: 30px;
}

.picture-card-3{
  background:linear-gradient(rgba(31, 18, 18, 0.5), rgba(31, 6, 6, 0.5)), url(/assets/6.jpeg);

 background-size: cover;
}
.picture-2{
  background:linear-gradient(rgba(31, 18, 18, 0.5), rgba(31, 6, 6, 0.5)), url(/assets/5.jpeg);
  background-size: cover;
 }
.picture-card-1{
  background:linear-gradient(rgba(31, 18, 18, 0.5), rgba(31, 6, 6, 0.5)), url(/assets/4.jpg);

  background-size: cover;

}
.picture-card-4{
  background:linear-gradient(rgba(31, 18, 18, 0.5), rgba(31, 6, 6, 0.5)), url(/assets/7.jpg);

  background-size: cover;
}
.picture-card-5{
  background:linear-gradient(rgba(31, 18, 18, 0.5), rgba(31, 6, 6, 0.5)), url(/assets/8.jpg);

  background-size: cover;
}
.picture-card-6{
  background:linear-gradient(rgba(31, 18, 18, 0.5), rgba(31, 6, 6, 0.5)), url(/assets/9.jpg);

  background-size: cover;
}
.card{
  height: 300px;
  width: 300px;
  border: 0px solid black;
  flex: 1 0 20%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
line-height: 300;

  margin: 100px auto;
  display: flex;

  justify-content: center;

  cursor: pointer;

  text-align: center;
  line-height: 125px;
  transition: .8s ease-in-out;

}

.text-color{
  text-decoration: none;
  color: white;
}


