<div class="container my-3 ">
  <div class="cardd m-4" (click)="showbooking()">
    <a   >Show Booking</a>
  </div>
  <div class="cardd m-4" (click)='addArticles()' >
    <a  >Add Articles</a>
  </div>
  <div class="cardd m-4" (click)='showJobRequests()' >
    <a   >Show Job Requests</a>
  </div>
  <div class="cardd m-4" (click)='doctorRegister()'>
    <a   >Add a new Doctor</a>
  </div>
  <div class="cardd m-4">
    <a  routerLink=""></a>
  </div>
  <div class="cardd m-4">
    <a  routerLink="">Articles</a>
  </div>
  <div class="cardd m-4">
    <a  routerLink="">Articles</a>
  </div>
  <div class="cardd m-4">
    <a  routerLink="">Articles</a>
  </div>
</div>
