
<!-- <div *ngIf="_userService.userStatus; " >
  <app-signin></app-signin>
</div> -->

<!-- <form   [formGroup]="pictureForm" (ngSubmit)='upload()'>
  <input type="file"    formControlName="picture"/>
  <button type="submit">Upload your photo</button>
</form> -->
<!-- <app-upload-image
></app-upload-image> -->
{{_userService.userStatus}}

  <div class="container px-4">
    <div class="row gx-5" *ngFor=" let d of data">
      <div class="col-7">
       <div class="p-3 border bg-light row">
         <div class="col-3">
          <img class="profile-pic" src="/assets/pro1.jpg" alt="">
         </div>
        <div class="col p-0 mt-3">
          <div class="doctor-name">{{d.name}}</div>
          <div class="acadmy-name">{{d.acadimic}}</div>
          <div class="major-name">{{d.Specialty}}</div>
          <div>
            <div>Rating</div>
          </div>
        </div>
        </div>
        <div class="p-3 border bg-light   mt-3">
          <div>
            <span>About the Doctor:</span>
          </div>
          <div>
           <span>he studied at Alexadnria university</span>
          </div>
         </div>
         <div class="p-3 border bg-light   mt-3">
          <div>
            <span>Patients' Reviews:</span>
          </div>
          <div>
            <div class="text-center">
              <div>Over Rating</div>
              <div>From 14 Visitors</div>
            </div>

<div class="row mt-2 text-center">
  <div class="col">Assistant Rating</div>
  <div class="col">Clinic Rating</div>
  <div class="col">Doctor Rating</div>

</div>

          </div>
         </div>
      </div>
      <div class="col-5">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
    </div>
  </div>




<div class="card m-3" style="width: 18rem;" *ngFor=" let d of articles" >
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">{{d.articleTopic}}</h5>
      <p class="card-text">{{d.article}}</p>
      <a href="#" class="btn btn-primary">Open The Article</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>

</div>




