<div class="container my-5">
  <form class="d-flex col-3">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>
<div class="container">
  <div class="row gx-2" >
    <div class="col-6 p-4" *ngFor=" let d of doctors">
      <div class="p-3 border bg-light row">
        <div class="col-3">
          <img class="profile-pic" src="/assets/pro1.jpg" alt="">
        </div>
        <div class="col px-4 mt-3">
          <div class="doctor-name">{{d.name}}</div>
          <div class="acadmy-name">{{d.acadimic}}</div>
          <div class="major-name">{{d.Specialty}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
